[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ../appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./regular_bot.py
# python_file = ./turn_bot.py

# Name of the bot in-game
name = UnravelingRL

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Skyborg
